<% include ../../head %>
                      <div id="headlineTextContact">
                        <br>
                        <br>
                        <br>
                        <p>
                          Hi <strong><%= userFirstName %></strong>, <br>
                          <br>
                          <br>
                          We will be charging $<%= amount %> to your account ending in  <%= Last4Digits %> on <%= datePaymentDue %> for the <%= teamName %>.
                          <br>
                          <br>
                          There is nothing you need to do. This is just a reminder.
                          <br>
                          If you have any questions, feel free to reply to this email. We hope your season is going well.<br>
                          <br>
                          <br>
                          Our Team @ PaidUp <br>
                        </p>
                      </div>
                      </td>
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>
<% include ../../footer %>
