<% include ../../head %>
                      <div id="headlineTextContact">
                        <br>
                        <br>
                        <br>
                        <p>
                          Dear <strong><%= userFirstName %></strong>, <br>
                          <br>
                          <br>
                          This is a reminder that we need you to confirm your bank account. This bank account was added to your Convenience Select account on <%= month %>/<%= day %>/<%= year %> and ends in the last four digits <%= userAccountNumber %>.<br><br>
                          Confirm your bank account and get Verified.<br><br>
                          When you added your bank account, Convenience Select made two small deposits into your bank account. These deposits should appear in 2-3 business days after you placed your order.<br><br>
                          Look up the amounts online, by phone, or on your bank statement.<br><br>
                          Visit <a href="https://convenienceselect.com">convenienceselect.com</a> and enter the two small deposit amounts after logging in.<br><br>
                          When these steps are successfully completed, you gain the status of Verified. This process ensures that you are the Verified owner of this account. Only you know the amount that Convenience Select has deposited into your account.<br><br>
                          Verification is just one of the many ways Convenience Select prevents fraud and provides the most secure service possible.<br><br>
                          If you have any questions, reply to this email or call us at 855.764.3232.<br><br>
                          Thanks.<br><br>
                          Our Team @ Convenience Select<br>
                        </p>
                      </div>
                      </td>
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>
<% include ../../footer %>