<% include ../../head %>
                          <div id="headlineText">
                            <br>
                            <br>
                            <br>
                            <p>
                              We are almost there!
        <!--                      <strong><singleline label="Title">Welcome to <%= companyName %></singleline></strong>-->
                            </p>
                            Please activate your acount to get awesome<br>
                            <strong>Convenience Select&copy;</strong> benefits.
                          </div>
      <!--                  <p align="center" class="article-title"><singleline label="Title"><%= fullName %></singleline></p>-->
                        </td>
      <!--                  <td class="w30" width="30"></td>-->
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>

              <% if(typeof token != "undefined") { %>
                <tr>
                  <td height="30" bgcolor="#ffffff"></td>
                </tr>
                <tr id="simple-content-row">
                  <td bgcolor="#ffffff">
                    <table align="left" class="tableEmail" cellpadding="0" cellspacing="0" border="0">
                      <tbody>
                        <tr>
                          
                          <td>
                            <repeater>

                              <layout label="Text only">
                                <table class="tableEmail" cellpadding="0" cellspacing="0" border="0">
                                  <tbody>
                                    <tr>
                                      <td class="activateUrl">
                                        <a href="<%= baseUrl %>/auth/verify/email?token=<%= token %>" class="btnActivate">Activate account</a>
                                        <br>
                                        <br>
                                        <!-- If you can't see this email correctly <a href="">click here</a> -->
                                        <!--<p align="center" class="article-title"><singleline label="Title">Verify your email here:</singleline></p>
                                        <div align="center" class="article-content">
                                          <multiline label="Description"><a href="<%= baseUrl %>/auth/verify/email?token=<%= token %>"><%= baseUrl %> /auth/verify/email?token=<%= token %></a></multiline>
                                        </div>-->
                                      </td>
                                    </tr>
                                    <tr>
                                      <td height="10"></td>
                                    </tr>
                                  </tbody></table>
                              </layout>

                            </repeater>
                          </td>
                          
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td height="15" bgcolor="#ffffff"></td>
                </tr>
              <% } %>
              <% include ../../footer %>