<% include ../../head %>
                      <div id="headlineTextContact">
                        <br>
                        <br>
                        <br>
                        <p>
                          <strong>Team info<br>
                          <strong>Name: </strong><%= provider.teamName %><br>
                          <strong>Legal name: </strong><%= provider.businessName %><br>
                          <strong>Date of Birth: </strong><%= provider.ownerDOB %><br>
                          <strong>Social Security Number: </strong><%= provider.ownerSSN %><br>
                          <strong>Email: </strong><%= provider.ownerEmail %><br>
                          <strong>Phone number: </strong><%= provider.ownerPhone %><br>
                          <strong>Country: </strong><%= provider.country %><br>
                          <strong>State: </strong><%= provider.state %><br>
                          <strong>City: </strong><%= provider.city %><br>
                          <strong>EIN: </strong><%= provider.EIN %><br>
                          <strong>Business address: </strong><%= provider.Address %><br>
                          <strong>Business name: </strong><%= provider.businessName %><br>
                          <strong>ABA: </strong>*********<br>
                          <strong>DDA: </strong>************<br>
                          <strong>Referral code: </strong><%= provider.referralCode %><br>

                          <a href="<%= baseUrl %>/commerce/provider/response/<%= provider._id %>" class="btnActivate">Create provider account</a><br>
                        </p>
                      </div>
                      </td>
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>
<% include ../../footer %>