<% include ../../head %>
                      <div id="headlineTextContact">
                        <br>
                        <br>
                        <br>
                        <p>
                          <strong>Team info<br>
                          <strong>Name: </strong><%= provider.teamName %><br>
                          <strong>Number teams: </strong><%= provider.teamNumber %><br>
                          <strong>Average team size: </strong><%= provider.teamAverageSize %><br>
                          <strong>Sport: </strong><%= provider.teamSport %><br>

                          <strong>Owner info<br>
                          <strong>Legal name: </strong><%= provider.ownerName %><br>
                          <strong>Date of Birth: </strong><%= provider.ownerDOB %><br>
                          <strong>Social Security Number: </strong><%= provider.ownerSSN %><br>
                          <strong>Email: </strong><%= provider.ownerEmail %><br>
                          <strong>Phone number: </strong><%= provider.ownerPhone %><br>

                          <strong>Billing info<br>
                          <strong>Country: </strong><%= provider.country %><br>
                          <strong>State: </strong><%= provider.state %><br>
                          <strong>City: </strong><%= provider.city %><br>
                          <strong>Average payment: </strong><%= provider.averagePayment %><br>
                          <strong>Business details<br>
                          <strong>EIN: </strong><%= provider.EIN %><br>
                          <strong>Business address: </strong><%= provider.Address %><br>
                          <strong>Website: </strong><%= provider.website %><br>

                          <strong>Credit card details<br>
                          <strong>Business name: </strong><%= provider.businessName %><br>
                          <strong>Phone number: </strong><%= provider.phoneNumber %><br>

                          <strong>Bank details<br>
                          <strong>ABA: </strong><%= provider.aba %><br>
                          <strong>DDA: </strong><%= provider.dda %><br>

                          <a href="<%= baseUrl %>/api/v1/commerce/provider/response/<%= provider._id %>" class="btnActivate">Create provider account</a><br>
                        </p>
                      </div>
                      </td>
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>
<% include ../../footer %>